body {
    background-color: #eee;
}

a {
    color: hotpink;
    background-color: #f00;
    border: solid 1px #d00;
    padding: 15px;
    margin: 25px;
    border-radius: 4px;
    /*redondea las esquinas*/
}

a:link {
    color: pink;
    /*Cuando el sitio no ha sido visitado*/
    text-decoration: none;
    /*quita toda la decoración*/
}

a:visited {
    color: blue;
    /*sitio ya visitado*/
}

a:active {
    color: black
    /*al dar click*/
}

a:hover {
    color: #f55;
    /*mouse por encima*/
    text-decoration: underline;
    background-color: #d00;
}